.App {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(206, 204, 198);
  text-align: center;
  align-content: center;
}

.card-header{
  /* background-color:#cf1219; */
  background-color: black;
  width: 100vw;
  text-align: center;
}

.card-header>h1 {
  width: 100vw;
  text-align: center;
  align-items: center;
  align-content: center;
  font-family: 'Marvel', sans-serif;
  color: aliceblue;
  font-weight: 900;
  font-size: 40px;
}
